<p>menu works!</p>
<h1>Menu Tree</h1>
<div class="treeview-colorful w-20 border border-secondary mx-4 my-4">
  <h6 class="pt-3 pl-3">Folders</h6>
  <hr>
  <ul class="treeview-colorful-list mb-3">
    <li class="treeview-colorful-items">
      <a class="treeview-colorful-items-header">
        <i class="fas fa-plus-circle"></i>
        <span><i class="far fa-envelope-open ic-w mx-1"></i>Mail</span>
      </a>
      <ul class="nested">
        <li>
          <div class="treeview-colorful-element">
            <i class="far fa-address-book ic-w mr-1"></i>Offers</div>
          <div class="treeview-colorful-element"><i class="far fa-address-book ic-w mr-1"></i>Contacts</div>

        </li>
      </ul>
    </li>
  </ul>
</div>
