
<app-navbar></app-navbar>
<app-menu></app-menu>
<app-post></app-post>
<app-layout></app-layout>
<div class="container">
  <header>
    <div class="row">
      <div class="col">
        <h1>Product Details- Details</h1>
      </div>
    </div>
  </header>
  <section class="row">
    <div class="col">
      <p>Name: {{product.name}}</p>
      <p>Quantity: {{product.quantity}}</p>
      <p>Price: {{product.price}}</p>
      <button class="btn btn-primary">Hello</button>
    </div>
  </section>
</div>
<div>
  <h1>Add nội dung component about</h1>
</div>
<app-about></app-about>
<app-user-list></app-user-list>
<app-footer></app-footer>

